@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800;900&display=swap');

:root {
  --dark-blue: #2D4366;
  --darker-blue: #192C4A;
  --blue: #114ecf;
  --blue2: #2453AF;
  --gray: #737373;
  --black: #333333;
  --red: #c35151;
  --orange: #f8af5e;
  --darker-orange: #ff9928;
  --border: #D6D6D6;
  --table-head: #E1E8F5;
  --evenly-bg: #F8F8FB;
  --white: #fff;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: var(--border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--black);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

.hidden {
  display: none;
}

main {
  padding-bottom: 50px;
}

button {
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border: 1px solid currentColor;
  background-color: currentColor;
  cursor: pointer;
  display: inline-block;
}

button:active {
  transform: scale(.95);
  transition: .3s;
}

button:focus {
  outline: none;
}

.orange {
  color: var(--orange);
}

.biggerContainer {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 80px;
  background-color: var(--evenly-bg);
  border-radius: 20px;
  overflow: hidden;
}

.biggerContainer.blue {
  background-color: var(--dark-blue);
}

.biggerContainer.orange {
  background-color: var(--orange);
}

.customContainer {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
}

.customMiniContainer {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
}

header {
  height: 130px;
  background-color: var(--dark-blue);
}

.hero {
  width: 100%;
  max-height: 650px;
  height: calc(100vh - 130px);
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.hero > img, .hero_banner > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero_content > p {
  font-size: 22px;
  line-height: 33px;
  color: var(--white);
  margin-top: 12px;
}

.hero_extra_div {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero_extra_div p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  color: var(--white);
  max-width: 600px;
}

.hero_reklama {
  background-color: var(--orange);
  display: flex;
  align-items: center;
}

.hero_reklama p {
  font-size: 30px;
  line-height: 42px;
  font-weight: 500;
  color: var(--black);
  padding: 34px 0;
}

h1 {
  font-size: 46px !important;
  line-height: 60px !important;
  font-weight: 500 !important;
  color: var(--white);
  max-width: 992px;
  width: 100%;
}

h2 {
  font-size: 34px !important;
  line-height: 44px !important;
  font-weight: 500 !important;
  color: var(--dark-blue);
}

.orange_btn { /* для оранжевых кнопок */
  display: inline-block;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: var(--white);
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  transition: .3s;
  text-align: center;
}

.orange_btn:hover {
  background-color: var(--darker-orange);
  transition: .3s;
}

.white_btn { /* для белых кнопок */
  display: inline-block;
  color: var(--white);
  background: none;
  border: 1px solid var(--white);
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  transition: .3s;
  text-align: center;
}

.white_btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.white_btn_blue {
  display: inline-block;
  color: var(--dark-blue);
  background: var(--white);
  border: 1px solid var(--dark-blue);
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  transition: .3s;
  text-align: center;
}

.white_btn_blue:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  transition: .3s;
}

.blue_btn { /* для синих кнопок */
  display: inline-block;
  color: var(--white);
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  transition: .3s;
  text-align: center;
}

.blue_btn:hover {
  background-color: var(--darker-blue);
  transition: .3s;
}

.landing_table {
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.tableSection h2 {
  text-align: center;
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

.landing_table td {
  min-height: 44px;
}

.landing_table tbody tr:first-child {
  background-color: rgba(45, 67, 102, 0.18); 
}

.landing_table tbody tr:first-child td {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
  text-align: center;
}

.landing_table tbody tr:first-child td:first-child {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
  text-align: left;
}

.landing_table tbody tr td:first-child {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black);
  display: flex;
  justify-content: flex-start;
}

.landing_table th {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: var(--dark-blue);
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
  padding: 10px;
}

.landing_table td {
  font-size: 15px;
  line-height: 22.5px;
  color: var(--dark-blue);
  border-right: 1px solid var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
  padding: 10px 20px;
}

.landing_table th:last-child, .landing_table td:last-child {
  border-right: none;
}

.table_icon {
  width: 24px;
  height: 24px;
}

/* grid4section */
.grid4Section {
  margin-top: 70px;
}
.grid4Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  gap: 40px;
}

.grid4_element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 45px 25px;
  border: 1px solid #EFEFEF;
}

.grid4_element_text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: var(--dark-blue);
  text-align: center;
}

.grid4_svg {
  width: 54px;
  height: 54px;
}
/* ============= */

/* grid4border_section */
.grid4border_Section {
  margin-top: 70px;
}

.grid4border_Section h2, .grid4Section h2 {
  text-align: center;
}

.grid4border_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 35px;
}

.grid4border_element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-right: 1px solid #D6D6D6;
  padding: 0 30px;
}

.grid4border_element:last-child {
  border-right: none;
}

.big_text_grid4 {
  font-size: 54px;
  line-height: 55px;
  font-weight: 900;
  color: var(--dark-blue);
  text-align: center;
}

.grid4border_textDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.grid4border_element_text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--dark-blue);
  text-align: center;
}

.grid4border_thintext {
  font-size: 18px;
  line-height: 27px;
  color: var(--dark-blue);
  text-align: center;
}
/* ================== */

/* grid3section */
.grid3Section {
  margin-top: 70px;
}

.grid3Section .biggerContainer {
  padding-block: 60px;
}

.grid3Section h2 {
  text-align: center;
}

.grid3Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--evenly-bg);
}

.arrow_right {
  width: 14px;
  height: 14px;
  margin-bottom: 2px;
  transition: .3s;
}

.grid_link_element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding: 25px;
  border: 1px solid #EFEFEF;
  transition: .3s;
  color: var(--dark-blue);
  min-height: 260px;
  height: 100%;
  background-color: var(--white);
}

.grid_link_element:hover {
  background-color: var(--orange);
  color: var(--white);
  transition: .3s;
}

.grid_link_element:hover svg {
  color: var(--white);
  transition: .3s;
}

.link_element_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.grid3_svg {
  width: 54px;
  height: 54px;
  transition: .3s;
}

.link_element_title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
}

.link_element_bottom {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}

.link_element_bottom p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
/* ================= */

/* Swiper */
.quotesSwiper {
  margin-top: 40px;
  height: 100%;
}

.slideCard {
  background-color: var(--white);
  padding: 30px;
  display: flex;
  gap: 15px;
  min-height: 280px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.kovicki_svg {
  width: 80px;
  height: 80px;
}

.quotes_content {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.quote {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: var(--black);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.quote_info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.quote_owner_img {
  max-width: 140px;
  width: 100%;
  height: 50px;
  position: relative;
  background-color: var(--white);
}

.quote_owner_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.quote_owner_info {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #868686;
  font-style: italic;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.swiperSection {
  margin-top: 70px;
}

.swiperSection .biggerContainer {
  padding-block: 50px;
}

.swiperSection h2 {
  text-align: center;
  color: var(--white);
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.btns_div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 30px;
}

.swiper_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#prev {
  transform: rotate(180deg);
}

.arrow_right {
  width: 20px;
  height: 20px;
  color: var(--dark-blue);
  margin-left: 3px;
}
/* ================== */

@media (max-width: 1800px) {
  h1 {
    font-size: 40px !important;
    line-height: 50px !important;
  }
  h2 {
    font-size: 28px !important;
    line-height: 38px !important;
  }
  .hero_content > p, .hero_extra_div p {
    font-size: 18px;
    line-height: 27px;
  }
  .biggerContainer {
    padding-inline: 0;
  }
  .hero_reklama p {
    font-size: 20px;
    line-height: 28px;
  }
  .grid4_element_text, .grid4border_element_text, .link_element_title {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 1200px) {
  h1 {
    max-width: 710px;
    font-size: 34px !important;
    line-height: 42px !important;
  }
  h2 {
    font-size: 24px !important;
    line-height: 31px !important;
  }
  .overflow_scroll {
    overflow-x: scroll; /* для таблиц */
  }
  .landing_table {
    min-width: 1300px;
    overflow-x: scroll;
  }
  .landing_table th {
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
  }
  .landing_table td {
    font-size: 12px;
    line-height: 18px;
    padding: 8px 10px;
  }
  button {
    max-width: 280px;
    width: 100%;
    text-align: center;
  }
}

.desktop_bg_img {
  display: block;
}

.tablet_bg_img {
  display: none;
}

.mobile_bg_img {
  display: none;
}

@media (max-width: 992px) {
  header {
    height: 60px;
  }
  .hero {
    height: auto;
  }
  .hero_reklama p {
    padding: 25px 0;
  }
  .desktop_bg_img {
    display: none;
  }
  .tablet_bg_img {
    display: block;
  }
  .grid4Container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 25px;
  }
  .grid4border_container {
    grid-template-columns: 1fr 1fr;
    row-gap: 35px;
  }
  .grid4border_element:nth-child(2) {
    border-right: none;
  }
  .grid4_element {
    min-height: 220px;
  }
  .grid4_element_text {
    max-width: 300px;
    width: 100%;
  }
  .grid3Section {
    background-color: var(--evenly-bg);
    border-radius: 20px;
    overflow: hidden;
  }
  .grid3Section .biggerContainer {
    padding-block: 30px;
  }
  .grid3Container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 580px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .swiperSection, .grid4border_Section, .grid3Section, .grid4Section {
    margin-top: 30px;
  }
  .hero_reklama p {
    font-size: 18px;
    line-height: 25px;
  }
  .tablet_bg_img {
    display: none;
  }
  .mobile_bg_img {
    display: block;
  }
  h1 {
    font-size: 20px !important;
    line-height: 26px !important;
    max-width: 100%;
  }
  h2 {
    font-size: 20px !important;
    line-height: 26px !important;
  }
  button {
    max-width: 100%;
    width: 100%;
  }
  .hero_content > p, .hero_extra_div p {
    font-size: 16px;
    line-height: 24px;
  }
  .big_text_grid4 {
    font-size: 42px;
    line-height: 40px;
  }
  .grid4border_thintext {
    font-size: 14px;
    line-height: 21px;
  }
  .grid4Container {
    grid-template-columns: 1fr;
  }
  .grid4border_container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .grid4border_element {
    border: none;
    gap: 15px;
  }
  .grid3Container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .grid_link_element {
    min-width: 280px;
    scroll-snap-align: start;
  }
  .grid4_svg {
    width: 40px;
    height: 40px;
  }
  .quotes_content {
    margin-top: 0;
  }
  .quote {
    font-size: 14px;
    line-height: 21px;
    -webkit-line-clamp: 10;
  }
  .quote_info {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .quote_owner_info {
    font-size: 14px;
    line-height: 21px;
  }
  .slideCard {
    padding: 15px;
    min-height: 360px;
  }
  .btns_div {
    justify-content: center;
  }
  .kovicki_svg {
    display: none;
  }
  .orange_btn, .blue_btn, .white_btn, .white_btn_blue {
    padding: 12px;
  }
}