<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Как получить справочник “Golden Pages”?</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/mobile/css/kak_poluchit_spravochnik-mobile.css">
</head>
<body>
  <header></header>
  <main>
    <div class="hero">
      <div class="hero_content customContainer">
        <h1>Как получить справочник “Golden Pages”?</h1>
      </div>
      <div class="hero_reklama">
        <div class="customContainer">
          <p>Единственное печатное ежегодное справочное издание в Узбекистане с полной и актуальной информацией о компаниях и предприятиях республики.</p>
        </div>
      </div>
      <img class="desktop_bg_img" src="/desktop/img/kak_poluchit_spravochnik-desktop.png" alt="background image">
      <img class="tablet_bg_img" src="/desktop/img/kak_poluchit_spravochnik-tablet.png" alt="background image">
      <img class="mobile_bg_img" src="/mobile/img/kak_poluchit_spravochnik-mobile.png" alt="background image">
    </div>
    <div class="spravochnikSection">
      <div class="biggerContainer">
        <div class="spravochnik_card">
          <h2>Кто получает справочник?</h2>
          <div class="textDiv">
            <p>Любая компания Узбекистана может получить справочник бесплатно.</p>
          </div>
          <div class="buttons">
            <button class="orange_btn" type="button">Проверить есть ли ваша компания в GP</button>
            <a href="#" class="orange_btn">Зарегистрироваться</a>
          </div>
        </div>
        <div class="spravochnik_card">
          <h2>Как получить справочник?</h2>
          <div class="textDiv">
            <p>Все очень просто!</p>
            <p>Заполните полностью анкету, заверьте ее печатью вашей компании и приезжайте к нам в офис.</p>
          </div>
          <div class="locationDiv">
            <a href="#" class="locationLink">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21.0001C10.7369 19.9227 9.56619 18.7416 8.5 17.4691C6.9 15.5581 5 12.7121 5 10.0001C4.99931 8.61505 5.40951 7.26094 6.17869 6.10912C6.94788 4.9573 8.04147 4.05955 9.32107 3.52949C10.6007 2.99943 12.0087 2.86088 13.3671 3.13138C14.7255 3.40189 15.9731 4.06928 16.952 5.04909C17.6038 5.69795 18.1203 6.46963 18.4719 7.31947C18.8234 8.1693 19.0029 9.08042 19 10.0001C19 12.7121 17.1 15.5581 15.5 17.4691C14.4338 18.7416 13.2631 19.9227 12 21.0001ZM12 7.00009C11.2044 7.00009 10.4413 7.31616 9.87868 7.87877C9.31607 8.44138 9 9.20444 9 10.0001C9 10.7957 9.31607 11.5588 9.87868 12.1214C10.4413 12.684 11.2044 13.0001 12 13.0001C12.7957 13.0001 13.5587 12.684 14.1213 12.1214C14.6839 11.5588 15 10.7957 15 10.0001C15 9.20444 14.6839 8.44138 14.1213 7.87877C13.5587 7.31616 12.7957 7.00009 12 7.00009Z" fill="white"/>
              </svg>
              <span>Наша локация</span>
            </a>
          </div>
          <div class="buttons"> 
            <a href="#" class="orange_btn">Скачать анкету</a>
          </div>  
          <img src="/mobile/img/spravochnik_card_image_mobile.png" alt="background image">
        </div>
      </div>
    </div>
    <div class="bottom_hero">
      <div class="hero_banner">
        <h1>Наши услуги для бизнеса</h1>
        <img class="desktop_bg_img" src="/desktop/img/bottom_hero_desktop.png" alt="background image">
        <img class="tablet_bg_img" src="/desktop/img/bottom_hero_tablet.png" alt="background image">
        <img class="mobile_bg_img" src="/mobile/img/bottom_hero_mobile.png" alt="background image">
      </div>
      <div class="hero_reklama">
        <div class="customContainer">
          <p>Используя возможности наших цифровых маркетинговых решений и сети, мы помогаем компаниям привлекать своих клиентов, охватывать новую оудиторию.</p>
          <button type="button">Узнать больше</button>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>