<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Наши услуги для бизнеса</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/mobile/css/nashi_uslugi-mobile.css">
</head>
<body>
  <header></header>
  <main>
    <div class="hero">
      <div class="hero_content customContainer">
        <h1>Наши услуги для бизнеса</h1>
        <p>Привлекайте клиентов, готовых к покупке, с помощью бизнес-справочника Golden Pages Uzbekistan.</p>
        <button class="blue_btn" type="button">Поговорите с экспертом</button>
      </div>
      <div class="hero_reklama">
        <div class="customContainer">
          <p>Используя ресурсы наших цифровых маркетинговых решений, мы привлекаем внимание клиентов к компаниям. Помогаем компаниям охватывать все новую аудиторию.</p>
        </div>
      </div>
      <img class="desktop_bg_img" src="/desktop/img/nashi_uslugi_desktop.png" alt="background image">
      <img class="tablet_bg_img" src="/desktop/img/nashi_uslugi_tablet.png" alt="background image">
      <img class="mobile_bg_img" src="/mobile/img/nashi_uslugi_mobile.png" alt="background image">
    </div>
    <div class="section">
      <div class="customMiniContainer colDiv">
        <div class="colDiv_content">
          <h2>Поднимитесь над конкурентами</h2>
          <div>
            <p>Мы предлагаем рекламные продукты интернет-аудитории, пользователям   мобильных устройств и печатных изделий. Как итог - помогаем компаниям привлекать больше клиентов.</p>
            <p>Это так просто!</p>
          </div>
        </div>
        <div class="colDiv_image">
          <img src="/mobile/img/uslugi_img1-mobile.png" alt="image">
        </div>
      </div>
    </div>
    <div class="blueSection">
      <div class="blueSection_content">
        <h2>Профили, видео и веб-сайты...OMG!</h2>
        <div class="textDiv">
          <p>Компании привлекают внимание благодаря насыщенному контенту бизнес-профилей в сети GP, которые ежедневно посещают более 13 миллионов активных пользователей.</p>
          <p>Профили поражают клиентов привлекательными HD-видео (для знакомства с компаниями-обладателями), а также сайт-визитками с информацией, фотографиями и контактными формами.</p>
          <p>Все эти продукты постоянно обнавляются нами, компанией Golden Pages , что позволяет владельцам бизнеса не переживать и заниматься только тем, что действительно важно... Бизнесом!</p>
        </div>
        <button class="orange_btn" type="button">Увеличить продажи</button>
      </div>
      <div class="blueSection_image">
        <img src="/mobile/img/uslugi_img2-mobile.png" alt="image">
      </div>
    </div>
    <div class="section">
      <div class="customContainer">
        <div class="colDiv">
          <div class="colDiv_content">
            <h2>Расширение охвата бизнеса</h2>
            <div class="textDiv">
              <p>Мы предлагаем автоматическую поисковую оптимизацию (SEO) для создания трафика и видимости компаний. Мы предлогаем рекламу  только тем, кто активно ищет товары для услуги Вашей компании.</p>
            </div>
            <button class="orange_btn" type="button">Расширить охват</button>
          </div>
          <div class="colDiv_image">
            <img src="/mobile/img/uslugi_img3-mobile.png" alt="image">
          </div>
        </div>
        <div class="colDiv">
          <div class="colDiv_content">
            <h2>Пользуйтесь цифровым пространством правильно</h2>
            <div class="textDiv">
              <p>Продажи переходят в цифровой мир. Эффективное использование маркетплейса требует не мало времени и ресурсов.</p>
              <p>Наши специалисты помогут Вам организовать интернет- магазин на торговой площадке tovar.uz!</p>
              <p>Мы освободим Вас от забот, и Вы сможете сосредоточиться только на нужном..., на своей компании.</p>
            </div>
            <button class="orange_btn" type="button">Увеличить продажи</button>
          </div>
          <div class="colDiv_image">
            <img src="/mobile/img/uslugi_img4-mobile.png" alt="image">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="biggerContainer orange">
        <div class="bottom_linkContent">
          <p>Что мы делаем для людей</p>
          <a href="#">Узнайте больше о наших проектах</a>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>