<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакт-центр GP</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/mobile/css/nawi_proyekti-mobile.css">
</head>
<body>
  <header></header>
  <main>
    <div class="hero">
      <div class="hero_content customContainer">
        <h1>Наши проекты</h1>
      </div>
      <div class="hero_reklama">
        <div class="customContainer">
          <p>Мы сосредоточены на том, чтобы предоставить пользователям актуальную информацию о компаниях и предприятиях Узбекистана. Используя разные инструменты - веб-сайты, печатное издание, Telegram-бот, маркетплейс, контакт-центр, отвечающие предпочтениям всех пользователей, мы оптимизируем пути получения информации 24/7.</p>
        </div>
      </div>
      <img class="desktop_bg_img" src="/desktop/img/nawi_proyekti-desktop.png" alt="background image">
      <img class="tablet_bg_img" src="/desktop/img/nawi_proyekti-tablet.png" alt="background image">
      <img class="mobile_bg_img" src="/mobile/img/nawi_proyekti-mobile.png" alt="background image">
    </div>
    <div class="full_banner_section gray">
      <div class="customMiniContainer">
        <div class="full_banner_content">
          <h2>Gp.uz</h2>
          <div class="textDiv">
            <p>Поиск компаний</p>
            <p>Бесплатная и доступная платформа, где информация о любых компаниях Узбекистана может быть найдена без особых усилий.</p>
          </div>
          <div class="buttons">
            <button class="orange_btn" type="button">Перейти на сайт</button>
            <button class="white_btn_blue" type="button">Реклама на сайте</button>
          </div>
        </div>
        <div class="full_banner_image">
          <img src="/desktop/img/np-iphone1-desktop.png" alt="iphone image">
        </div>
      </div>
    </div>
    <div class="gridSection">
      <div class="customContainer">
        <div class="grid_content">
          <h2>Справочник Golden Pages</h2>
          <div class="textDiv">
            <p>Бизнес-справочник компаний и предприятий Узбекистана, ежедневно выходящий многотысячным тиражом.</p>
            <p>Более 30 000 организаций, как на ладони.</p>
            <p>Тираж - 10 000 экземпляров. Бесплатный для компаний Узбекистана!</p>
            <p>Надежный источник информации!</p>
            <p>Здесь вы можете узнать все о том, как получить справочник</p>
          </div>
          <div class="buttons">
            <button class="orange_btn" type="button">Зарегистрироваться</button>
            <button class="white_btn_blue" type="button">Реклама в печатной версии</button>
          </div>
        </div>
        <div class="grid_image">
          <img src="/desktop/img/np-img1-desktop.png" alt="image">
        </div>
      </div>
    </div>
    <div class="full_banner_section blue">
      <div class="customMiniContainer">
        <div class="full_banner_content">
          <h2>Telegram-бот @gpuzbot</h2>
          <div class="functions_container">
            <div class="function">
              <svg class="function_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" fill="#F8AF5E"/>
                <path d="M9.67234 14.794L6.61779 11.785L5.59961 12.788L9.67234 16.7999L18.3996 8.20294L17.3814 7.19995L9.67234 14.794Z" fill="white"/>
              </svg>
              <p class="function_text">Более 600 000 активных пользователей разных категорий.</p>
            </div>
            <div class="function">
              <svg class="function_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" fill="#F8AF5E"/>
                <path d="M9.67234 14.794L6.61779 11.785L5.59961 12.788L9.67234 16.7999L18.3996 8.20294L17.3814 7.19995L9.67234 14.794Z" fill="white"/>
              </svg>
              <p class="function_text">Доступ к более 30 000 компаний по всему Узбекистану.</p>
            </div>
            <div class="function">
              <svg class="function_icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" fill="#F8AF5E"/>
                <path d="M9.67234 14.794L6.61779 11.785L5.59961 12.788L9.67234 16.7999L18.3996 8.20294L17.3814 7.19995L9.67234 14.794Z" fill="white"/>
              </svg>
              <p class="function_text">Справочник у Вас в телефоне!</p>
            </div>
          </div>
          <div class="buttons">
            <button class="orange_btn" type="button">Перейти в Telegram-бот</button>
            <button class="white_btn" type="button">Разместить рекламу</button>
          </div>
        </div>
        <div class="full_banner_image">
          <img src="/desktop/img/np-iphone2-desktop.png" alt="iphone image">
        </div>
      </div>
    </div>
    <div class="gridSection">
      <div class="customContainer flex-rev">
        <div class="grid_content">
          <h2>Телефонная справочная <span><a href="tel:+998781400909">78 140-09-09</a></span></h2>
          <div class="textDiv">
            <p>Круглосуточная телефонная справочная служба.</p>
            <p>Задача профессиональных операторов - ответ на любой вопрос.</p>
            <p>Необходимая информация на растоянии звонка.</p>
            <p>Есть вопрос? - Дадим ответ!</p>
          </div>
          <div class="buttons">
            <button class="orange_btn" type="button">Разместить рекламу</button>
          </div>
        </div>
        <div class="grid_image">
          <img src="/desktop/img/np-img2-desktop.png" alt="image">
        </div>
      </div>
    </div>
    <div class="fullBanner">
      <div class="customContainer">
        <div class="fullBanner_content">
          <h2>tovar.uz</h2>
          <div class="textDiv">
            <p>Разумный способ делать покупки.</p>
            <p>Это уникальный маркетплейс; торговая интернет-платформа, представляющая товары и услуги со всехрегионов Узбекистана.</p>
            <p>Мы стираем границы, помогая покупателям и продавцам найти друг друга.</p>
            <p>Ваше универсальное решение, которое помогает делать покупки в интернете быстро илегко!</p>
          </div>
          <button class="orange_btn" type="button">Зарегистрироваться</button>
        </div>
      </div>
      <div class="fb_background">
        <div class="bg_blue"></div>
        <div class="bg_img">
          <img src="/desktop/img/np-fullimg-desktop.png" alt="background image">
        </div>
      </div>
    </div>
    <div class="gridSection">
      <div class="customContainer flex-rev">
        <div class="grid_content">
          <h2>Контакт-центр</h2>
          <div class="textDiv">
            <p>Не упустите целевую аудиторию Вашего бизнеса.</p>
            <p>Повышайте обьем продаж!</p>
            <p>Услуги входящей и исходящей связи - возможность контактировать с Вашими клиентами 24/7.</p>
            <p>Улучшайте качество коммуникаций и получайте новых клиентов.</p>
            <p>Наша работа- рост Вашего дохода.</p>
          </div>
          <div class="buttons">
            <button class="orange_btn" type="button">Оставить заявку</button>
          </div>
        </div>
        <div class="grid_image">
          <img src="/desktop/img/np-img3-desktop.png" alt="image">
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>