<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Почему стоит выбрать Golden Pages?</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/mobile/css/pochemu_stoit_vibrat_gp-mobile.css">
</head>
<body>
  <header></header>
  <main>
    <div class="hero">
      <div class="hero_content customContainer">
        <h1>Почему стоит выбрать Golden Pages?</h1>
      </div>
      <div class="hero_reklama">
        <div class="customContainer">
          <p class="bigger_title">Представьте, что Golden Pages может сделать для Вашего бизнеса!</p>
          <p>С самого первого дня наша миссия заключалась в том, чтобы связать малый, средний и 
          крупный бизнес с людьми по всему Узбекистану. Сегодня мы являемся лидерами цифрового 
          маркетинга с решениями, которые помогут Вам достичь Ваших целей.</p>
        </div>
      </div>
      <img class="desktop_bg_img" src="/desktop/img/why_gp-desktop.png" alt="background image">
      <img class="tablet_bg_img" src="/desktop/img/why_gp-tablet.png" alt="background image">
      <img class="mobile_bg_img" src="/mobile/img/why_gp-mobile.png" alt="background image">
    </div>
    <div class="cardsSection">
      <h2>10 причин, почему Вы должны выбрать Golden Pages</h2>
      <div class="cardsContainer">
        <div class="card gray">
          <div class="card_content">
            <p class="card_title">Мы большие</p>
            <p class="card_desc">Мы создали уникальную информационную справочную систему в Узбекистане.</p>
          </div>
          <div class="card_image">
            <img src="/mobile/img/why_1.png" alt="why image">
          </div>
        </div>
        <div class="card blue">
          <div class="card_content">
            <p class="card_title">Но мы также маленькие</p>
            <p class="card_desc">Мы уделяем внимание работе с каждым регионом.</p>
          </div>
          <div class="card_image">
            <img src="/mobile/img/why_2.png" alt="why image">
          </div>
        </div>
        <div class="card orange">
          <div class="card_content">
            <p class="card_title">Наши навыки подтверждены</p>
            <p class="card_desc">Мы уделяем внимание работе с каждым регионом.</p>
          </div>
          <div class="card_image">
            <img src="/mobile/img/why_3.png" alt="why image">
          </div>
        </div>
        <div class="card gray">
          <div class="card_content">
            <p class="card_title">Ценность доверия</p>
            <p class="card_desc">Нам доверяют на протяжении 20 лет более 30 000 компаний.</p>
          </div>
          <div class="card_image">
            <img src="/mobile/img/why_4.png" alt="why image">
          </div>
        </div>
        <div class="card blue">
          <div class="card_content">
            <p class="card_title">Выходите на новый уровень</p>
            <p class="card_desc">Ваш бизнес уникален и Ваш цифровой маркетинг должен быть таким же. Мы поможем найти правильные решения.</p>
          </div>
          <div class="card_image">
            <img src="/mobile/img/why_5.png" alt="why image">
          </div>
        </div>
        <div class="card orange">
          <div class="card_content">
            <p class="card_title">И Вы увидите результат</p>
            <p class="card_desc">Возможность отслеживания эффективности размещения в GP при помощи статистики.</p>
          </div>
          <div class="card_image">
            <img src="/mobile/img/why_6.png" alt="why image">
          </div>
        </div>
        <div class="card gray">
          <div class="card_content">
            <p class="card_title">Без ущерба для Вашего бюджета</p>
            <p class="card_desc">Мы предлагаем решения для компаний любого уровня, чтобы они могли конкурировать с крупными игроками.</p>
          </div>
          <div class="card_image">
            <img src="/mobile/img/why_7.png" alt="why image">
          </div>
        </div>
        <div class="card blue">
          <div class="card_content">
            <p class="card_title">С заботой о клиентах</p>
            <p class="card_desc">Будьте на связи со своими клиентами 24/7.</p>
          </div>
          <div class="card_image">
            <img src="/mobile/img/why_8.png" alt="why image">
          </div>
        </div>
        <div class="card orange">
          <div class="card_content">
            <p class="card_title">Connecting business</p>
            <p class="card_desc">Когда Вас ищут клиенты, они обращаются к нам!</p>
          </div>
          <div class="card_image">
            <img src="/mobile/img/why_9.png" alt="why image">
          </div>
        </div>
      </div>
    </div>
    <div class="moreSection">
      <div class="customContainer">
        <h2>Готовы продвигать свой бизнес? Изучите цифровые решения Golden Pages.</h2>
        <button class="orange_btn" type="button">Узнать больше</button>
      </div>
    </div>
    <div class="swiperSection">
      <div class="biggerContainer blue">
        <div class="customContainer">
          <h2>Посмотрите, как наши уважаемые клиенты достигают своих целей</h2>
          <div class="swiper quotesSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide slideCard">
                <svg class="kovicki_svg" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.0013 56.6667H30.0013L36.668 43.3333V23.3333H16.668V43.3333H26.668L20.0013 56.6667ZM46.668 56.6667H56.668L63.3346 43.3333V23.3333H43.3346V43.3333H53.3346L46.668 56.6667Z" fill="#F8AF5E"/>
                </svg>
                <div class="quotes_content">
                  <p class="quote">По нашему опыту работы с «Желтыми страницами», наши вопросы и проблемы всегда решались оперативно, и мы обнаружили, что Анна очень хорошо осведомлена, предлагая пошаговые инструкции о том, как улучшить нашу рекламу для увеличения продаж через наш веб-сайт. </p>
                  <div class="quote_info">
                    <div class="quote_owner_img">
                      <img src="/desktop/img/golden_haus_logo.png" alt="logo">
                    </div>
                    <p class="quote_owner_info">Абдувасит Абдуманнобзода, Генеральный директор</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide slideCard">
                <svg class="kovicki_svg" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.0013 56.6667H30.0013L36.668 43.3333V23.3333H16.668V43.3333H26.668L20.0013 56.6667ZM46.668 56.6667H56.668L63.3346 43.3333V23.3333H43.3346V43.3333H53.3346L46.668 56.6667Z" fill="#F8AF5E"/>
                </svg>
                <div class="quotes_content">
                  <p class="quote">По нашему опыту работы с «Желтыми страницами», наши вопросы и проблемы всегда решались оперативно, и мы обнаружили, что Анна очень хорошо осведомлена. По нашему опыту работы с «Желтыми страницами», наши вопросы и проблемы всегда решались оперативно, и мы обнаружили, что Анна очень хорошо осведомлена.</p>
                  <div class="quote_info">
                    <div class="quote_owner_img">
                      <img src="/desktop/img/golden_haus_logo.png" alt="logo">
                    </div>
                    <p class="quote_owner_info">Абдувасит Абдуманнобзода, Генеральный директор</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide slideCard">
                <svg class="kovicki_svg" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.0013 56.6667H30.0013L36.668 43.3333V23.3333H16.668V43.3333H26.668L20.0013 56.6667ZM46.668 56.6667H56.668L63.3346 43.3333V23.3333H43.3346V43.3333H53.3346L46.668 56.6667Z" fill="#F8AF5E"/>
                </svg>
                <div class="quotes_content">
                  <p class="quote">По нашему опыту работы с «Желтыми страницами», наши вопросы и проблемы всегда решались оперативно, и мы обнаружили, что Анна очень хорошо осведомлена, предлагая пошаговые инструкции о том, как улучшить нашу рекламу для увеличения продаж через наш веб-сайт. </p>
                  <div class="quote_info">
                    <div class="quote_owner_img">
                      <img src="/desktop/img/golden_haus_logo.png" alt="logo">
                    </div>
                    <p class="quote_owner_info">Абдувасит Абдуманнобзода, Генеральный директор</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide slideCard">
                <svg class="kovicki_svg" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.0013 56.6667H30.0013L36.668 43.3333V23.3333H16.668V43.3333H26.668L20.0013 56.6667ZM46.668 56.6667H56.668L63.3346 43.3333V23.3333H43.3346V43.3333H53.3346L46.668 56.6667Z" fill="#F8AF5E"/>
                </svg>
                <div class="quotes_content">
                  <p class="quote">По нашему опыту работы с «Желтыми страницами», наши вопросы и проблемы всегда решались оперативно, и мы обнаружили, что Анна очень хорошо осведомлена, предлагая пошаговые инструкции о том, как улучшить нашу рекламу для увеличения продаж через наш веб-сайт. </p>
                  <div class="quote_info">
                    <div class="quote_owner_img">
                      <img src="/desktop/img/golden_haus_logo.png" alt="logo">
                    </div>
                    <p class="quote_owner_info">Абдувасит Абдуманнобзода, Генеральный директор</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btns_div">
            <div id="prev" class="swiper_btn">
              <svg class="arrow_right" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.08682 13.4152C4.20811 13.4155 4.32826 13.3918 4.44036 13.3455C4.55246 13.2992 4.6543 13.2312 4.74003 13.1454L10.2298 7.6542C10.4028 7.48112 10.5 7.24642 10.5 7.00171C10.5 6.75699 10.4028 6.52229 10.2298 6.34921L4.76133 0.880711C4.67706 0.7893 4.57519 0.715855 4.46184 0.664784C4.34849 0.613713 4.22599 0.586068 4.10169 0.583509C3.97739 0.580949 3.85385 0.603527 3.73849 0.649888C3.62314 0.696249 3.51833 0.765438 3.43037 0.853302C3.34241 0.941166 3.27311 1.04589 3.22662 1.1612C3.18014 1.27651 3.15742 1.40002 3.15985 1.52433C3.16227 1.64863 3.18978 1.77116 3.24073 1.88457C3.29168 1.99797 3.36501 2.09992 3.45633 2.18429L8.27162 7.001L3.43361 11.8404C3.30431 11.9695 3.21622 12.1341 3.18052 12.3133C3.14482 12.4925 3.1631 12.6782 3.23305 12.847C3.303 13.0158 3.42147 13.16 3.57345 13.2614C3.72544 13.3628 3.90411 13.4169 4.08682 13.4166V13.4152Z" fill="currentColor"/>
              </svg>
            </div>
            <div id="next" class="swiper_btn">
              <svg class="arrow_right" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.08682 13.4152C4.20811 13.4155 4.32826 13.3918 4.44036 13.3455C4.55246 13.2992 4.6543 13.2312 4.74003 13.1454L10.2298 7.6542C10.4028 7.48112 10.5 7.24642 10.5 7.00171C10.5 6.75699 10.4028 6.52229 10.2298 6.34921L4.76133 0.880711C4.67706 0.7893 4.57519 0.715855 4.46184 0.664784C4.34849 0.613713 4.22599 0.586068 4.10169 0.583509C3.97739 0.580949 3.85385 0.603527 3.73849 0.649888C3.62314 0.696249 3.51833 0.765438 3.43037 0.853302C3.34241 0.941166 3.27311 1.04589 3.22662 1.1612C3.18014 1.27651 3.15742 1.40002 3.15985 1.52433C3.16227 1.64863 3.18978 1.77116 3.24073 1.88457C3.29168 1.99797 3.36501 2.09992 3.45633 2.18429L8.27162 7.001L3.43361 11.8404C3.30431 11.9695 3.21622 12.1341 3.18052 12.3133C3.14482 12.4925 3.1631 12.6782 3.23305 12.847C3.303 13.0158 3.42147 13.16 3.57345 13.2614C3.72544 13.3628 3.90411 13.4169 4.08682 13.4166V13.4152Z" fill="currentColor"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="/static/swiper.js"></script>
</body>