<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Связаться с нами</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/mobile/css/svyazatsa_s_nami-mobile.css">
</head>
<body>
  <header></header>
  <main>
    <div class="hero">
      <div class="hero_content customContainer">
        <h1>Связаться с нами</h1>
        <p>Мы открываем для компаний новый цифровой формат</p>
      </div>
      <img class="desktop_bg_img" src="/desktop/img/contact_us-desktop.png" alt="background image">
      <img class="tablet_bg_img" src="/desktop/img/contact_us-tablet.png" alt="background image">
      <img class="mobile_bg_img" src="/mobile/img/contact_us-mobile.png" alt="background image">
    </div>
    <div class="banner bg_orange">
      <p class="banner_title">Все просто!</p>
      <div>
        <p class="banner_text">Мы открываем для компаний новый цифровой формат. </p>
        <p class="banner_text">Чтобы узнать, как это сделать, обратитесь к одному из наших специалистов:</p>
      </div>
      <a href="tel:+998781406566" class="banner_number">78 140 65 66</a>
    </div>
    <div class="banner bg_gray">
      <p class="banner_title">Обслуживание клиентов</p>
      <div>
        <p class="banner_text">По вопросам выставления счетов за аккаунт, датам публикации и другим вопросам: </p>
      </div>
      <a href="tel:+998781406569" class="banner_number">78 140 65 69</a>
    </div>
    <div class="banner bg_blue">
      <p class="banner_title">Круглосуточная телефонная справочная служба</p>
      <div>
        <p class="banner_text">Информация о компаниях и предприятиях Узбекистана (поиск компаний по названию, адресу, виду деятельности: </p>
      </div>
      <a href="tel:+998781400909" class="banner_number">78 140 09 09</a>
    </div>
  </main>
  <footer></footer>
</body>