<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Связаться с нами</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/desktop/css/svyazatsa_s_nami-desktop.css">
</head>
<body>
  <header></header>
  <main>
    <div class="hero">
      <div class="hero_content customContainer">
        <h1>Связаться с нами</h1>
        <p>Мы открываем для компаний новый цифровой формат</p>
      </div>
      <img class="desktop_bg_img" src="/desktop/img/contact_us-desktop.png" alt="background image">
      <img class="tablet_bg_img" src="/desktop/img/contact_us-tablet.png" alt="background image">
      <img class="mobile_bg_img" src="/mobile/img/contact_us-mobile.png" alt="background image">
    </div>
    <div class="banner bg_orange">
      <div class="customMiniContainer">
        <div class="banner_content_div">
          <h2>Все просто!</h2>
          <div>
            <p>Мы открываем для компаний новый цифровой формат.</p>
            <p>Чтобы узнать, как это сделать, обратитесь к одному из наших специалистов:</p>
          </div>
        </div>
        <div class="banner_number_div">
          <a class="banner_number" href="tel:+998781406566">78 140 65 66</a>
        </div>
      </div>
    </div>
    <div class="banner bg_gray">
      <div class="customMiniContainer">
        <div class="banner_content_div">
          <h2>Обслуживание клиентов</h2>
          <div>
            <p>Мы открываем для компаний новый цифровой формат.</p>
            <p>По вопросам выставления счетов за аккаунт, датам публикации и другим вопросам: </p>
          </div>
        </div>
        <div class="banner_number_div">
          <a class="banner_number" href="tel:+998781406569">78 140 65 69</a>
        </div>
      </div>
    </div>
    <div class="banner bg_blue">
      <div class="customMiniContainer">
        <div class="banner_content_div">
          <h2>Круглосуточная телефонная справочная служба</h2>
          <div>
            <p>Информация о компаниях и предприятиях Узбекистана (поиск компаний по названию, адресу, виду деятельности: </p>
          </div>
        </div>
        <div class="banner_number_div">
          <a class="banner_number" href="tel:+998781400909">78 140 09 09</a>
        </div>
      </div>
    </div>
  </main>
</body>